In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

Andiamo su http://www.datiopen.it/it/opendata/Mappa_dei_pub_circoli_locali_in_Italia e scarichiamo il file della mappa dei pub, circoli e locali in Italia.

In [4]:
# importiamo il file

pub = pd.read_csv('/content/drive/MyDrive/PYTHON/Mappa-dei-pub-circoli-locali-in-Italia.csv', encoding='latin-1', sep=';')
pub

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2630,BARLETTA,BARLETTA-ANDRIA-TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2631,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2632,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2633,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Re Art√π,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

Esaminiamo il dataset:
* quanti dati ci sono in totale?
* quali sono i metadati?
* stampiamo il primo elemento
* stampiamo l'ultimo elemento
* riusciamo a stampare un elemento a caso?
* quali sono gli anni di inserimento presenti?
* quante attivit√† ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
* quante attivit√† ci sono nella provincia di Vicenza?
* quante enoteche ci sono, e come si chiamano?

In [5]:
# quanti dati ci sono in totale?

print('Il dataset contiene', pub.shape[0], 'righe e', pub.shape[1], 'colonne.')
print('Il dataset contiene', pub.size, 'elementi.')

Il dataset contiene 2635 righe e 9 colonne.
Il dataset contiene 23715 elementi.

In [6]:
# quali sono i metadati?

pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2635 entries, 0 to 2634
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Comune                           2635 non-null   object
 1   Provincia                        2635 non-null   object
 2   Regione                          2635 non-null   object
 3   Nome                             2337 non-null   object
 4   Anno inserimento                 2635 non-null   int64
 5   Data e ora inserimento           2635 non-null   object
 6   Identificatore in OpenStreetMap  2635 non-null   int64
 7   Longitudine                      2635 non-null   float64
 8   Latitudine                       2635 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 185.4+ KB

In [7]:
# stampiamo il primo elemento

pub.head(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [8]:
# stampiamo l'ultimo elemento

pub.tail(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [9]:
# riusciamo a stampare un elemento a caso?

pub.sample(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
833,VILLABASSA,BOLZANO,Trentino-Alto Adige,Freyhaus,2008,2008-07-20T10:31:17Z,279716572,12.169523,46.737893

In [10]:
# quali sono gli anni di inserimento presenti?

print('Gli anni di inserimento presenti sono: ')
for i in pub['Anno inserimento'].unique():
  print(" -",i)

Gli anni di inserimento presenti sono:
 - 2011
 - 2015
 - 2010
 - 2012
 - 2014
 - 2016
 - 2013
 - 2008
 - 2009
 - 2007

In [11]:
# quante attivit√† ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?

print(f"Nel quadrato di longitudine 9-10 e latitudine 45-46 ci sono {pub[(pub['Longitudine'] >= 9) & (pub['Longitudine'] <= 10) & (pub['Latitudine'] >= 45) & (pub['Latitudine'] <= 46)].shape[0]} attivit√†.")

Nel quadrato di longitudine 9-10 e latitudine 45-46 ci sono 306 attivit√†.

In [12]:
# quante attivit√† ci sono nella provincia di Vicenza?

provincia = input("Inserisci la provincia: ")
print(f"Nella provincia di {provincia} ci sono {pub[pub['Provincia'].str.contains(provincia, case=False, na=False)].shape[0]} attivit√†.")

Inserisci la provincia: Vicenza
Nella provincia di Vicenza ci sono 73 attivit√†.

In [13]:
# quante enoteche ci sono, e come si chiamano?

print(f"Ci sono {pub[pub['Nome'].str.contains('enoteca', case=False, na=False)].shape[0]} enoteche. \n")
print("Le enoteche sono:")
for i in pub[pub['Nome'].str.contains('enoteca', case=False, na=False)]['Nome']:
  print(" -",i)

Ci sono 6 enoteche.

Le enoteche sono:
 - Enoteca con Cucina""Tirolin""
 - Concordia Enoteca
 - Enoteca Umberto
 - Enoteca ""Al Brindisi""
 - Enoteca ""da Massimo""
 - Enoteca Il Violino Rosso

Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
* Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna
* Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
* E rispetto a smoker? E a sex?
* Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [14]:
# importiamo il dataset

ins = pd.read_csv("/content/drive/MyDrive/PYTHON/beginner_datasets/insurance.csv")
ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [15]:
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna

print(f"il dataset contiene {ins.shape[0]} righe e {ins.shape[1]} colonne")
print(f"il dataset contiene {ins.size} elementi")
print("---")
print("I nomi delle colonne sono:")
for i in ins.columns:
  print(" -", i)
print("---")
print("Questa √® un anteprima del dataset: \n")
ins

il dataset contiene 1338 righe e 7 colonne
il dataset contiene 9366 elementi
---
I nomi delle colonne sono:
 - age
 - sex
 - bmi
 - children
 - smoker
 - region
 - charges
---
Questa √® un anteprima del dataset:

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [16]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative?

print("Le medie di charges rispetto a region sono: \n")
round(ins.groupby('region')['charges'].mean(), 2)

Le medie di charges rispetto a region sono:

region
northeast    13406.38
northwest    12417.58
southeast    14735.41
southwest    12346.94
Name: charges, dtype: float64

In [17]:
# E rispetto a smoker?

print("Le medie di charges rispetto a smoker sono: \n")
round(ins.groupby('smoker')['charges'].mean(), 2)

Le medie di charges rispetto a smoker sono:

smoker
no      8434.27
yes    32050.23
Name: charges, dtype: float64

In [18]:
# E a sex?

print("Le medie di charges rispetto a sex sono: \n")
round(ins.groupby('sex')['charges'].mean(), 2)

Le medie di charges rispetto a sex sono:

sex
female    12569.58
male      13956.75
Name: charges, dtype: float64

In [19]:
# Quali sono i descrittori statistici di bmi?

print("I descrittori statistici di bmi sono: \n")
ins.bmi.describe()

I descrittori statistici di bmi sono:

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [20]:
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

print("Il minimo, la media e il massimo di charges rispetto ai diversi quartili dei valori di bmi sono: \n")
ins.groupby(pd.qcut(ins['bmi'], 4, labels = ['Primo Quartile', 'Secondo Quartile', 'Terzo Quartile', 'Quarto Quartile']), observed = True)['charges'].agg(['min', 'mean', 'max'])

Il minimo, la media e il massimo di charges rispetto ai diversi quartili dei valori di bmi sono:

                        min          mean          max
bmi
Primo Quartile    1121.8739  10360.662825  38245.59327
Secondo Quartile  1131.5066  11407.831468  62592.87309
Terzo Quartile    1135.9407  14358.173081  60021.39897
Quarto Quartile   1141.4451  16987.936691  63770.42801

Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:

* La media della lunghezza dei petali di tutto il dataset
* La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
* Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

In [21]:
#importiamo il dataset

iris = pd.read_csv("/content/drive/MyDrive/PYTHON/beginner_datasets/iris.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [22]:
# Calcoliamo la media della lunghezza dei petali di tutto il dataset

print(f"La media della lunghezza dei petali di tutto il dataset √®: {round(iris['petal_length'].mean(), 2)} cm")

La media della lunghezza dei petali di tutto il dataset √®: 3.76 cm

In [23]:
# Calcoliamo la media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()

print("La media della lunghezza dei petali per ogni specie di Iris √®: \n")
round(iris.groupby('species')['petal_length'].mean(), 2)

La media della lunghezza dei petali per ogni specie di Iris √®:

species
Iris-setosa        1.46
Iris-versicolor    4.26
Iris-virginica     5.55
Name: petal_length, dtype: float64

In [24]:
#Calcoliamo media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

print("La media, il minimo e il massimo della larghezza dei sepali per ogni specie sono: \n")
iris.groupby('species')['sepal_width'].agg(['mean', 'min', 'max'])

La media, il minimo e il massimo della larghezza dei sepali per ogni specie sono:

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualit√† di vini:
* Qual √® la media di concentrazione alcolica per ogni qualit√†? Ci sono differenze? E rispetto alla media totale?
* C'√® differenza nella concentrazione alcolica per vini bianchi e vini rossi?
* Rifacendo le analisi delle domande precedenti ma per il pH, cambia qualcosa?
* E per i solfati?

In [25]:
#importiamo il dataset

wine = pd.read_csv("/content/drive/MyDrive/PYTHON/beginner_datasets/wine.csv")
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [26]:
# Qual √® la media di concentrazione alcolica per ogni qualit√†? Ci sono differenze? E rispetto alla media totale?

print("La media di concentrazione alcolica del totale del dataset √®: ", round(wine['alcohol'].mean(), 2))
print("---")
print("La media di concentrazione alcolica per ogni qualit√† √®: \n")
round(wine.groupby('quality')['alcohol'].mean(), 2)

La media di concentrazione alcolica del totale del dataset √®:  10.49
---
La media di concentrazione alcolica per ogni qualit√† √®:

quality
3    10.22
4    10.18
5     9.84
6    10.59
7    11.39
8    11.68
9    12.18
Name: alcohol, dtype: float64

In [27]:
# C'√® differenza nella concentrazione alcolica per vini bianchi e vini rossi?

print("La media di concentrazione alcolica dei vini bianchi √®: ", round(wine[wine['type'] == 'white']['alcohol'].mean(), 2))
print("La media di concentrazione alcolica dei vini rossi √®: ", round(wine[wine['type'] == 'red']['alcohol'].mean(), 2))

La media di concentrazione alcolica dei vini bianchi √®:  10.51
La media di concentrazione alcolica dei vini rossi √®:  10.42

In [28]:
# Rifacendo le analisi delle domande precedenti ma per il pH, cambia qualcosa?

print("La media del valore del pH del totale del dataset √®: ", round(wine['pH'].mean(), 2))
print("---")
print("La media del valore del pH dei vini bianchi √®: ", round(wine[wine['type'] == 'white']['pH'].mean(), 2))
print("La media del valore del pH dei vini rossi √®: ", round(wine[wine['type'] == 'red']['pH'].mean(), 2))
print("---")
print("La media del valore del pH per ogni qualit√† √®: \n")
round(wine.groupby('quality')['pH'].mean(), 2)

La media del valore del pH del totale del dataset √®:  3.22
---
La media del valore del pH dei vini bianchi √®:  3.19
La media del valore del pH dei vini rossi √®:  3.31
---
La media del valore del pH per ogni qualit√† √®:

quality
3    3.26
4    3.23
5    3.21
6    3.22
7    3.23
8    3.22
9    3.31
Name: pH, dtype: float64

In [29]:
# E per i solfati?

print("La media del valore dei sulfati del totale del dataset √®: ", round(wine['sulphates'].mean(), 2))
print("---")
print("La media del valore dei sulfati dei vini bianchi √®: ", round(wine[wine['type'] == 'white']['sulphates'].mean(), 2))
print("La media del valore dei sulfati dei vini rossi √®: ", round(wine[wine['type'] == 'red']['sulphates'].mean(), 2))
print("---")
print("La media del valore dei sulfati per ogni qualit√† √®: \n")
round(wine.groupby('quality')['sulphates'].mean(), 2)

La media del valore dei sulfati del totale del dataset √®:  0.53
---
La media del valore dei sulfati dei vini bianchi √®:  0.49
La media del valore dei sulfati dei vini rossi √®:  0.66
---
La media del valore dei sulfati per ogni qualit√† √®:

quality
3    0.51
4    0.51
5    0.53
6    0.53
7    0.55
8    0.51
9    0.47
Name: sulphates, dtype: float64

Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni nell'area di Boston. Di seguito vengono descritte le colonne del dataset:
* CRIM - tasso di criminalit√† pro capite per citt√†
* ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati.
* INDUS - percentuale di acri di attivit√† commerciali non al dettaglio per citt√†.
* CHAS - variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
* NOX - concentrazione di ossidi di azoto (parti per 10 milioni)
* RM - numero medio di stanze per abitazione
* AGE - proporzione di unit√† abitative occupate da proprietari costruite prima del 1940
* DIS - distanze ponderate da cinque centri occupazionali di Boston
* RAD - indice di accessibilit√† alle autostrade radiali
* TAX - aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari
* PTRATIO - rapporto alunni-insegnanti per citt√†
* BLACK - la percentuale di neri per citt√†
* LSTAT - % di popolazione di condizione pi√π bassa
* MEDV - Valore mediano delle case, espresso in migliaia di dollari

Esercizio:
* La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
* Si nota una correlazione tra il tasso di criminalit√† e il valore delle abitazioni? Come si pu√≤ spiegare il risultato?
* Qual √® la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si pu√≤ spiegare il risultato?
* Rispetto all'accessibilit√† alle autostrade, cambia qualcosa la media delle et√† delle abitazioni? E del numero di stanze? E delle tasse?

In [69]:
# importiamo il dataset

bos = pd.read_csv("/content/drive/MyDrive/PYTHON/beginner_datasets/boston.csv")
bos

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [70]:
# La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?

print(f"La media del prezzo delle case che costeggiano il fiume √®: {round((bos[bos['chas'] == 1]['medv'].mean() * 1000) , 2)} $")
print(f"La media del prezzo delle case che non costeggiano il fiume √®: {round((bos[bos['chas'] == 0]['medv'].mean() * 1000) , 2)} $")

bos.groupby('chas')['medv'].mean()

# Osserviamo che le case costruite nelle zone che costeggiano il fiume hanno un valore medio pi√π alto di pi√π di 6000 $

La media del prezzo delle case che costeggiano il fiume √®: 28440.0 $
La media del prezzo delle case che non costeggiano il fiume √®: 22093.84 $

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [78]:
# Si nota una correlazione tra il tasso di criminalit√† e il valore delle abitazioni? Come si pu√≤ spiegare il risultato?

bos.groupby(pd.qcut(bos['crim'], 3, labels = ['Basso tasso di criminalit√†', 'Medio tasso di criminalit√†', 'Alto tasso di criminalit√†']), observed = True)['medv'].mean() * 1000

# Osserviamo che il valore medio delle abitazioni √® inversamente proporzionale al valore del tasso di criminalit√†.
# Ci√≤ significa che nelle zone pi√π sicure e con minor tasso di criminalit√†, il prezzo medio delle abitazioni aumenta.

crim
Basso tasso di criminalit√†    26613.609467
Medio tasso di criminalit√†    23358.928571
Alto tasso di criminalit√†     17630.769231
Name: medv, dtype: float64

In [91]:
# Qual √® la media del numero di stanze rispetto al rapporto alunni-insegnanti?
print("La media del numero di stanze rispetto al rapporto alunni-insegnanti √®: \n")
bos.groupby(pd.qcut(bos['ptratio'], 3, labels = ['Primo Terzile' , 'Secondo Terzile' , 'Terzo Terzile']), observed = True)['rm'].mean()

# Osserviamo che per bassi rapporti alunni-insegnanti (ovvero minor numero di studenti per insegnante), il numero delle stanze medio delle abitazioni √® pi√π alto.
# Per alti rapporti alunni-insegnanti (ovvero maggior numero di studenti per insegnante), il numero delle stanze medio delle abitazioni √® pi√π basso.
# Nelle zone con maggior numero di studenti per insegnante, le case hanno meno stanze quindi, presumibilmente, valgono di meno

La media del numero di stanze rispetto al rapporto alunni-insegnanti √®:

ptratio
Primo Terzile      6.611649
Secondo Terzile    6.122029
Terzo Terzile      6.069964
Name: rm, dtype: float64

In [92]:
# E del valore delle case? Appare esserci una qualche correlazione? Come si pu√≤ spiegare il risultato?

print("La media del valore delle case rispetto al rapporto alunni-insegnanti √®: \n")
bos.groupby(pd.qcut(bos['ptratio'], 3, labels = ['Primo Terzile' , 'Secondo Terzile' , 'Terzo Terzile']), observed = True)['medv'].mean()

# Confermiamo quanto ipotizzato, nell'analisi precedente, il valore medio delle case √® minore nelle zone con maggior numero di studenti per insegnante.

La media del valore delle case rispetto al rapporto alunni-insegnanti √®:

ptratio
Primo Terzile      28.227011
Secondo Terzile    19.837681
Terzo Terzile      18.123214
Name: medv, dtype: float64

In [98]:
# Rispetto all'accessibilit√† alle autostrade, cambia qualcosa la media delle et√† delle abitazioni?

bos.groupby(pd.qcut(bos['rad'], 3), observed = True)['age'].mean()

# Osserviamo che per le zone con pi√π alto indice di accessibilit√† alle autostrade radiali, la % delle abitazioni costruite prima del 1940 √® pi√π alta

rad
(0.999, 4.0]    57.403125
(4.0, 7.0]      64.600000
(7.0, 24.0]     86.350641
Name: age, dtype: float64

In [96]:
# E del numero di stanze?

bos.groupby(pd.qcut(bos['rad'], 3), observed = True)['rm'].mean()

# Osserviamo che per le zone con pi√π alto indice di accessibilit√† alle autostrade radiali, il numero medio di stanze √® lievemente inferiore rispetto alle zone con indice pi√π basso.

rad
(0.999, 4.0]    6.309031
(4.0, 7.0]      6.373089
(7.0, 24.0]     6.165019
Name: rm, dtype: float64

In [99]:
# E delle tasse?

bos.groupby(pd.qcut(bos['rad'], 3), observed = True)['tax'].mean()

# Osserviamo che per le zone con pi√π alto indice di accessibilit√† alle autostrade radiali, le tasse sono maggiori rispetto alle zone con indice pi√π basso.

rad
(0.999, 4.0]    304.135417
(4.0, 7.0]      335.645570
(7.0, 24.0]     609.884615
Name: tax, dtype: float64

Abbiamo un DataFrame di dipendenti:

employees_df = pd.DataFrame({'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob','Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })

E un DataFrame di dipartimenti:

departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

* Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge()
* Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()
* Ci sono differenze nel risultato? Quali? Perch√©?

In [103]:
# creazione dei DataFrame

employees_df = pd.DataFrame({'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob','Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

employees_df , departments_df

(   employee_id     name  department_id
 0          101    Alice              1
 1          102      Bob              2
 2          103  Charlie              1
 3          104    David              2
 4          105     Emma              3,
    department_id department_name       location
 0              1              HR       New York
 1              2              IT  San Francisco
 2              3         Finance        Chicago)

In [104]:
# Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge()

merge = employees_df.merge(departments_df, on = 'department_id')
merge

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [109]:
# Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()
# Ci sono differenze nel risultato? Quali? Perch√©?

employees_df.set_index('department_id', inplace = True)
departments_df.set_index('department_id', inplace = True)
employees_df.join(departments_df)

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

Esercizio
* Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame
* Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey
* Controlliamo la dimensione del DataFrame risultante: √® quella attesa?
* Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey
* Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
* Valutiamo la media del BaseRate per ogni paese: ci sono differenze?

In [119]:
%run Creazione_AdventureWorks.ipynb

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 45.0/45.0 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [123]:
query_de = "SELECT * FROM dimemployee"
de = pd.read_sql(query_de, db_engine)

query_dest = "SELECT * FROM dimemployeesalesterritory"
dest = pd.read_sql(query_dest, db_engine)

In [124]:
de

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
294,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
295,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [125]:
dest

    EmployeeKey  SalesTerritoryKey
0           272                  1
1           277                  1
2           286                  1
3           289                  1
4           293                  1
5           272                  2
6           277                  2
7           281                  2
8           272                  3
9           277                  3
10          281                  3
11          282                  3
12          283                  3
13          272                  4
14          277                  4
15          282                  4
16          286                  4
17          287                  4
18          272                  5
19          277                  5
20          281                  5
21          285                  5
22          272                  6
23          277                  6
24          284                  6
25          288                  6
26          277                  7
27          290                  7
28          291                  7
29          292                  7
30          277                  8
31          290                  8
32          295                  8
33          277                  9
34          294                  9
35          296                  9
36          277                 10
37          290                 10
38          291                 10

In [126]:
# Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey

de_dest = de.merge(dest, on = 'EmployeeKey')
de_dest

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,2,23.0769,24,32,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,2,23.0769,33,36,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,2,23.0769,29,34,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,2,23.0769,26,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
27,288,272.0,399771412,502097814.0,Jos√©,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,2,23.0769,31,35,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,2,23.0769,23,31,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9

In [130]:
# Controlliamo la dimensione del DataFrame risultante: √® quella attesa?

print(f"Il numero di colonne atteso per il DataFrame risultante √®: {de.shape[1] + dest.shape[1] - 1}")
print(f"Il numero di colonne effettivo del DataFrame risultante √®: {de_dest.shape[1]}")

Il numero di colonne atteso per il DataFrame risultante √®: 29
Il numero di colonne effettivo del DataFrame risultante √®: 29

In [131]:
# Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey

query_dst = "SELECT * FROM dimsalesterritory"
dst = pd.read_sql(query_dst, db_engine)

de_dest_dst = de_dest.merge(dst, on = 'SalesTerritoryKey')
de_dest_dst

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
27,288,272.0,399771412,502097814.0,Jos√©,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

In [134]:
de_dest_dst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   EmployeeKey                           39 non-null     int64
 1   ParentEmployeeKey                     39 non-null     float64
 2   EmployeeNationalIDAlternateKey        39 non-null     int64
 3   ParentEmployeeNationalIDAlternateKey  39 non-null     float64
 4   FirstName                             39 non-null     object
 5   LastName                              39 non-null     object
 6   MiddleName                            38 non-null     object
 7   NameStyle                             39 non-null     int64
 8   Title                                 39 non-null     object
 9   HireDate                              39 non-null     object
 10  BirthDate                             39 non-null     object
 11  LoginID                               39 non-null     object
 12  EmailAddress                          39 non-null     object
 13  Phone                                 39 non-null     object
 14  MaritalStatus                         39 non-null     object
 15  EmergencyContactName                  39 non-null     object
 16  EmergencyContactPhone                 39 non-null     object
 17  SalariedFlag                          39 non-null     int64
 18  Gender                                39 non-null     object
 19  PayFrequency                          39 non-null     int64
 20  BaseRate                              39 non-null     float64
 21  VacationHours                         39 non-null     int64
 22  SickLeaveHours                        39 non-null     int64
 23  CurrentFlag                           39 non-null     int64
 24  SalesPersonFlag                       39 non-null     int64
 25  DepartmentName                        39 non-null     object
 26  EmployeePhoto                         39 non-null     object
 27  Position                              39 non-null     object
 28  SalesTerritoryKey                     39 non-null     int64
 29  SalesTerritoryAlternateKey            39 non-null     int64
 30  SalesTerritoryRegion                  39 non-null     object
 31  SalesTerritoryCountry                 39 non-null     object
 32  SalesTerritoryGroup                   39 non-null     object
 33  SalesTerritoryImage                   39 non-null     object
dtypes: float64(3), int64(11), object(20)
memory usage: 10.5+ KB

In [138]:
# Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)

de_dest_dst.groupby(['SalesTerritoryCountry', 'SalesTerritoryRegion'])['EmployeeKey'].count()

SalesTerritoryCountry  SalesTerritoryRegion
Australia              Australia               3
Canada                 Canada                  4
France                 France                  4
Germany                Germany                 3
United Kingdom         United Kingdom          3
United States          Central                 5
                       Northeast               3
                       Northwest               5
                       Southeast               4
                       Southwest               5
Name: EmployeeKey, dtype: int64

In [139]:
# Valutiamo la media del BaseRate per ogni paese: ci sono differenze?

de_dest_dst.groupby('SalesTerritoryCountry')['BaseRate'].mean()

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64

In [140]:
de_dest_dst.BaseRate

0     48.1010
1     48.1010
2     48.1010
3     48.1010
4     48.1010
5     48.1010
6     72.1154
7     72.1154
8     72.1154
9     72.1154
10    72.1154
11    72.1154
12    72.1154
13    72.1154
14    72.1154
15    72.1154
16    23.0769
17    23.0769
18    23.0769
19    23.0769
20    23.0769
21    23.0769
22    23.0769
23    23.0769
24    23.0769
25    23.0769
26    23.0769
27    23.0769
28    23.0769
29    48.1010
30    48.1010
31    48.1010
32    23.0769
33    23.0769
34    23.0769
35    23.0769
36    48.1010
37    23.0769
38    23.0769
Name: BaseRate, dtype: float64